{% extends "base.html.twig" %}

{% block title %}VinPhone - Admin Home{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="card card1 position-relative">
        <div class="card-body">
            {% if account %}
                <h1 class= "text1 position-relative">Hi {{ account }}!</h1>
            {% endif %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                {% for phone in phones %}
                <tr>
                    <td>{{ phone.brand }}</td>
                    <td>{{ phone.model }}</td>
                    <td> {{ phone.price }}</td>
                  <td>
                      |<a href="{{ path('Delete', {'id': phone.id}) }}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                </tbody>
                </td>
                </tr>
                {% endfor %}
            </table>
            <a href= "{{ path('Add') }}"><button type="button" class="btn btn-outline-success button1 position-relative">Add phone</button></a></div>
        </div>
    </div>

    <footer class="footer footer d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top position-relative">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text1 mb-3 mb-md-0 text-body-secondary position-relative">© 2023 VinPhone</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a href="{{ asset('https://www.facebook.com') }}"><img class= "FBLogo position-relative" src="{{ asset('/Pictures/FBLogo.png') }}"></a></li>
            <li class="ms-3"><a href="{{ asset('https://www.instagram.com') }}"><img class= "IGLogo position-relative" src="{{ asset('/Pictures/IGLogo.png') }}"></a></li>
            <li class="ms-3"><a href="{{ asset('https://www.twitter.com') }}"><img class= "TWLogo position-relative" src="{{ asset('/Pictures/TWLogo.png') }}"></a></li>
            <li class="ms-3"><a href="{{ asset('https://www.tiktok.com') }}"><img class= "TTLogo position-relative" src="{{ asset('/Pictures/TTLogo.png') }}"></a></li>
        </ul>
    </footer>
{% endblock %}