{% extends "base.html.twig" %}

{% block title %}VinPhone - Dashboard{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="card card1 position-relative">
        <div class="card-body">
            {% if account %}
                <h1 class= "heading2 position-relative">Hi {{ account }}!</h1>
            {% endif %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Price</th>
                    <th scope= "col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for phone in phones %}
                <tr>
                    <td>{{ phone.brand }}</td>
                    <td>{{ phone.model }}</td>
                    <td> {{ phone.price }}</td>
                  <td>
                      <a class="button16" href="{{ path('phone_edit', {'id': phone.id}) }}"><button type="button" class="btn btn-outline-warning">Edit</button></a>
                      <a href="{{ path('phone_delete', {'id': phone.id}) }}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                  </td>
                </tbody>
                </tr>
                {% endfor %}
            </table>

            <a href= "{{ path('add') }}"><button type="button" class="btn btn-outline-success button1 position-relative">Add phone</button></a>
            <a href= "{{ path('user_manager') }}"><button type="button" class="btn btn-outline-primary button7 position-relative">User Manager</button></a>
            <a href= "{{ path('admin_news') }}"><button type="button" class="btn btn-outline-primary button8 position-relative">News</button></a>
        </div>
    </div>

    <footer class="footer footer d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top position-relative">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text1 mb-3 mb-md-0 text-body-secondary position-relative">© 2024 VinPhone</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a href="{{ asset('https://www.facebook.com') }}"><img class= "FBLogo position-relative" src="{{ asset('/pictures/fb_logo.png') }}"></a></li>
            <li class="ms-3"><a href="{{ asset('https://www.instagram.com') }}"><img class= "IGLogo position-relative" src="{{ asset('/pictures/ig_logo.png') }}"></a></li>
            <li class="ms-3"><a href="{{ asset('https://www.twitter.com') }}"><img class= "XLogo position-relative" src="{{ asset('/pictures/x_logo.jpg') }}"></a></li>
            <li class="ms-3"><a href="{{ asset('https://www.tiktok.com') }}"><img class= "TTLogo position-relative" src="{{ asset('/pictures/tt_logo.png') }}"></a></li>
        </ul>
    </footer>
{% endblock %}