{% extends 'base.html.twig' %}

{% block title %}VinPhone - User manager{% endblock %}

{% block body %}


    <div class= "card7 card position-relative">
        <div class= "card-body">
            <h1 class= "text1 position-relative">User manager</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('user_manager_edit', {'id': user.id}) }}">Edit</a>
                    <a href="{{ path('user_manager_delete', {'id': user.id}) }}">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No registered users found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_manager_new') }}">New user</a>
        </div>
    </div>

    <footer class="footer footer d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top position-relative">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text1 mb-3 mb-md-0 text-body-secondary position-relative">© 2024 VinPhone</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a href="{{ asset('https://www.facebook.com') }}"><img class= "FBLogo position-relative" src="{{ asset('/pictures/fb_logo.png') }}"></a></li>
            <li class="ms-3"><a href="{{ asset('https://www.instagram.com') }}"><img class= "IGLogo position-relative" src="{{ asset('/pictures/ig_logo.png') }}"></a></li>
            <li class="ms-3"><a href="{{ asset('https://www.twitter.com') }}"><img class= "XLogo position-relative" src="{{ asset('/pictures/x_logo.jpg') }}"></a></li>
            <li class="ms-3"><a href="{{ asset('https://www.tiktok.com') }}"><img class= "TTLogo position-relative" src="{{ asset('/pictures/tt_logo.png') }}"></a></li>
        </ul>
    </footer>
{% endblock %}
